In [35]:
import pandas as pd

In [36]:
url = 'https://www.capfriendly.com/teams/bruins'


patterns_to_match = ['Forwards', 'Defense', 'Goalies']
combined_pattern = "|".join(patterns_to_match)

tables = pd.read_html(url, match=combined_pattern)

In [37]:
print(f'There are {len(tables)} tables')

There are 6 tables

In [38]:
valid_tables = tables[:-3]

In [39]:
def rename_players_column(df):
    df['Player'] =  df[df.columns[0]]
    df = df.drop(columns=df.columns[0], inplace=True)

In [40]:
def drop_total_row(df):
    index = df.shape[0] - 1 
    df = df.drop(index, inplace=True)

In [41]:
for table in valid_tables:
    rename_players_column(table)
    drop_total_row(table)
    print(table.columns)
    

players_df = pd.concat(valid_tables).reset_index(drop=True)

Index(['Years Remaining', 'Terms', 'POS', 'Status', 'Acquired', 'Age', 'Cap%',
       '2023-24', '2024-25', '2025-26', '2026-27', '2027-28', '2028-29',
       'Player'],
      dtype='object')
Index(['Years Remaining', 'Terms', 'POS', 'Status', 'Acquired', 'Age', 'Cap%',
       '2023-24', '2024-25', '2025-26', '2026-27', '2027-28', '2028-29',
       'Player'],
      dtype='object')
Index(['Years Remaining', 'Terms', 'POS', 'Status', 'Acquired', 'Age', 'Cap%',
       '2023-24', '2024-25', '2025-26', '2026-27', '2027-28', '2028-29',
       'Player'],
      dtype='object')

In [42]:
print(players_df.columns)

Index(['Years Remaining', 'Terms', 'POS', 'Status', 'Acquired', 'Age', 'Cap%',
       '2023-24', '2024-25', '2025-26', '2026-27', '2027-28', '2028-29',
       'Player'],
      dtype='object')

In [43]:

drop_columns = ['Years Remaining', 'Terms',
       'Status', 'Acquired', 'Age', '2024-25', '2025-26',
       '2026-27', '2027-28', '2028-29']

players_df = players_df.drop(columns=drop_columns)

In [44]:
def parse_salaries(df):
    df['Salary'] = df['2023-24'].str.split('$').str.get(1)
 
    df = df.drop(columns=['2023-24'])
    return df

In [45]:
players_df.columns

Index(['POS', 'Cap%', '2023-24', 'Player'], dtype='object')

In [46]:
players_df = parse_salaries(players_df)

In [47]:
def process_name(input_str):
    clean_str = input_str.replace('"A"', '').replace('"C"', '')
    parts = clean_str.split(',')
    if len(parts) == 2:
        last, first = parts
        flipped = f'{first} {last}'
        return flipped
    else:
        print(f'Invalid input string: {input_str}')

In [48]:
players_df['Player'] = players_df['Player'].apply(process_name)

In [49]:
players_df

       POS  Cap%               Player      Salary
0       RW  13.5      David  Pastrnak  11,250,000
1       LW   7.3       Brad  Marchand   6,125,000
2    C, RW   6.3        Charlie Coyle   5,250,000
3    LW, C   5.7          Pavel Zacha   4,750,000
4   RW, LW   4.8         Jake DeBrusk   4,000,000
5   LW, RW   2.8       Trent Frederic   2,300,000
6    C, RW   2.4        Morgan Geekie   2,000,000
7   LW, RW   1.2   James van Riemsdyk   1,000,000
8        C   1.1         John Beecher     925,000
9        C   1.0      Matthew Poitras     870,000
10   C, RW   1.0          Oskar Steen     800,000
11  LW, RW   0.9          Jakub Lauko     787,500
12   C, LW   0.9       Jesper Boqvist     775,000
13  LW, RW   0.9        Danton Heinen     775,000
14      RD  11.4      Charlie  McAvoy   9,500,000
15      LD   7.8      Hampus Lindholm   6,500,000
16      LD   4.4        Matt Grzelcyk   3,687,500
17      RD   1.3    Kevin Shattenkirk   1,050,000
18      LD   1.1         Mason Lohrei     925,000
19      LD   0.9   Parker Wotherspoon     775,000
20       G   6.0        Linus Ullmark   5,000,000
21       G   4.2       Jeremy Swayman   3,475,000